@model IEnumerable<Capstone.Models.Clothes>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Size)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Color)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsOutgrown)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClothesType)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Size)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Color)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsOutgrown)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClothesType.Description)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ClothesId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ClothesId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ClothesId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
