@model IEnumerable<Capstone.Models.Clothes>

@{
    ViewData["Title"] = "Index";
}

<h4>Closet</h4>

<p>
    <a asp-action="Create" class="btn btn-secondary">Add Clothes!</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ClothesType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Size)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Color)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImagePath)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsOutgrown)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ClothesType.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Size)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Color)
            </td>
            <td>
                <img src="/images/@item.ImagePath" class="imageDisplay" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsOutgrown)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ClothesId"><i class="far fa-edit"></i></a> |
                <a asp-action="Details" asp-route-id="@item.ClothesId"><i class="fas fa-info"></i></a> |
                <a asp-action="Delete" asp-route-id="@item.ClothesId"><i class="fas fa-trash"></i></a>
            </td>
        </tr>
        }
    </tbody>
</table>
