@model IEnumerable<Capstone.Models.Book>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.ActionLink(@Html.DisplayNameFor(model => model.Title), "Index", new { _orderBy = "Title", _sortDirection = ViewData["sortDirection"] })
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Author)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsOutgrown)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookType.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsOutgrown)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.BookId"><i class="far fa-edit"></i></a> |
                <a asp-action="Details" asp-route-id="@item.BookId"><i class="fas fa-info"></i></a> |
                <a asp-action="Delete" asp-route-id="@item.BookId"><i class="fas fa-trash"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
