@model IEnumerable<Capstone.Models.Toy>

@{
    ViewData["Title"] = "Index";
}

<h4>Toy Box</h4>

<p>
    <a asp-action="Create" class="btn btn-secondary">Add a Toy!</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ToyType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Color)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ToyType.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Color)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ToyId"><i class="far fa-edit"></i></a> |
                    <a asp-action="Details" asp-route-id="@item.ToyId"><i class="fas fa-info"></i></a> |
                    <a asp-action="Delete" asp-route-id="@item.ToyId"><i class="fas fa-trash"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>
